<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<svg th:fragment="svg401">

</svg>
<div th:fragment="svg404" class="text-center">
    <svg width="600" height="400" version="1.1"
         xmlns="http://www.w3.org/2000/svg"
         xmlns:th="http://www.thymeleaf.org">
        <text id="number" x="100" y="200" style="font-size:15rem;">5</text>
        <text id="number" x="50" y="300" style="font-size:2rem;">The page is not found!</text>
    </svg>
    <script  th:inline="javascript">
        let num = 5;
        function show(){
            num -= 1;
            $("#number").text(num);
            if(num === 0){
                /*<![CDATA[*/
                let loginHref= /*[[@{/home}]]*/ '#';
                /*]]>*/
                location.href=loginHref;
            }
        }
        setInterval(show,1000);
    </script>
</div>
</body>
</html>